<launch>
  <arg name="map" default="$(find tracking_pid)/maps/grid.yaml"/>
  <arg name="odom_topic" default="/p3dx/odom"/>
  <arg name="scan_topic" default="/p3dx/laser/scan"/>
  <arg name="cmd_vel_topic" default="/p3dx/cmd_vel"/>
  <arg name="rviz" default="true"/>
  <arg name="odom_frame" default="odom"/>
  <arg name="base_frame" default="base_link"/>
  <arg name="robot_radius" default="0.3"/>
  <arg name="tool_radius" default="0.3"/>
  <arg name="amcl_min_particles" default="500"/>
  <arg name="amcl_max_particles" default="2000"/>
  <arg name="amcl_kld_err" default="0.05"/>
  <arg name="amcl_kld_z" default="0.99"/>
  <arg name="initial_pose_x" default="0.0"/>
  <arg name="initial_pose_y" default="0.0"/>
  <arg name="initial_pose_a" default="0.0"/>

  <include file="$(find robo_aspirador)/launch/coverage_mbf_tracking.launch">
    <arg name="map" value="$(arg map)"/>
    <arg name="odom_topic" value="$(arg odom_topic)"/>
    <arg name="scan_topic" value="$(arg scan_topic)"/>
    <arg name="cmd_vel_topic" value="$(arg cmd_vel_topic)"/>
    <arg name="rviz" value="$(arg rviz)"/>
    <arg name="robot_radius" value="$(arg robot_radius)"/>
    <arg name="tool_radius" value="$(arg tool_radius)"/>
  </include>

  <!-- Localization: provides map -> odom transform -->
  <node pkg="amcl" type="amcl" name="amcl" output="log">
    <param name="global_frame_id" value="map"/>
    <param name="odom_frame_id" value="$(arg odom_frame)"/>
    <param name="base_frame_id" value="$(arg base_frame)"/>
    <param name="min_particles" value="$(arg amcl_min_particles)"/>
    <param name="max_particles" value="$(arg amcl_max_particles)"/>
    <param name="kld_err" value="$(arg amcl_kld_err)"/>
    <param name="kld_z" value="$(arg amcl_kld_z)"/>
    <param name="initial_pose_x" value="$(arg initial_pose_x)"/>
    <param name="initial_pose_y" value="$(arg initial_pose_y)"/>
    <param name="initial_pose_a" value="$(arg initial_pose_a)"/>
    <remap from="scan" to="$(arg scan_topic)"/>
  </node>
</launch>
